<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities in Country</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Select a City</h1>
        <ul class="list-group mt-4">
            {% for city in cities %}
            <li class="list-group-item">
                <a href="{% url 'hotel_search' city.Code %}">{{ city.Name }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back</a>
    </div>
</body>
</html>
